//
//  1Password-Updater.xcconfig
//  macOS
//
//  Created by Solomon Chai on 2021-03-19.
//  Copyright © 2021 AgileBits, Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Custom vars

#include "Root.xcconfig"
#include "1Password-Version-Mac.xcconfig"

APP_NAME = 1Password Installer

// Packaging
PRODUCT_BUNDLE_IDENTIFIER = com.1password.1password-installer
PRODUCT_NAME = $(APP_NAME)

//:configuration = Debug
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CODE_SIGN_ENTITLEMENTS = 1Password Installer/1Password-Installer.entitlements
INFOPLIST_FILE = 1Password Installer/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
COMBINE_HIDPI_IMAGES = YES

// Signing
ENABLE_HARDENED_RUNTIME = YES
